.mainsearch{
  align-self:flex-end;
}
.h2{
  background-color: white;
  font-size: 0%;
  font-color:white;
}
.top-right-image {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px; /* Adjust the margin to position the image precisely */
  }
  
.container-fluid {
  height: 100%;
}

.container-fluid p-5 {
  padding: 5rem;
}

.top-left-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100px; /* Adjust the max-width as needed */
}

h1 {
  margin-top: 20px;
}

/* Move search bar to top right corner */
#searchForm {
  /* width: 5px;
  height: 5px; */
  position:relative;
  top: 0;
  right: 0;
  margin-top: 20px; 
  margin-left: 1000px;
}

#searchInput {
  height: 35px;
  width: 20000px; 
}
.table { 
  border: 9px solid none; 
  border-radius: 90px; 
  width: 100%; /* Make the table 100% wide */ 
} 
 
/* Increase font size for table headers */ 
.bg-warning { 
  background-color: gold; 
  color: black; 
  font-size: 18px; /* Increase font size */ 
} 
 
/* Increase font size for table rows */ 
tbody tr { 
  background-color: rgb(239, 246, 248); 
  color: black; 
  font-size: 22px; /* Increase font size */ 
} 

/* Search bar styles */ 
#searchForm { 
  display: flex; 
  align-items: center; 
} 
 
#searchInput { 
  
  flex-grow: 1; 
} 
 
/* Table styles */ 
.table { 
  border: 9px solid rgb(249, 250, 251); 
  border-radius: 10px; 
} 
 
.bg-info { 
  background-color: rgb(246, 250, 251); 
} 
 
.bg-warning { 
  background-color: gold; 
  color: black; 
} 
 
/* Table row styles */ 
tbody tr { 
  background-color: rgb(236, 244, 248); 
  color: rgb(19, 18, 18); 
  font-size:large;
} 
 
/* Button styles */ 
.btn-outline-success { 
  border-color: gold; 
  color: gold; 
} 
 
.btn-outline-success:hover { 
  background-color: gold; 
  color: white; 
} 
 
/* Product name links */ 
a { 
  color: blue; 
  text-decoration: none; 
} 
 
a:hover { 
  text-decoration:none; 
}

